<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webappday27</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>QueryStringServlet</servlet-name>
    <servlet-class>ai.jobiak.http.QueryStringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStringServlet</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskBrowser</servlet-name>
    <servlet-class>ai.jobiak.http.TaskBrowser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskBrowser</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>ai.jobiak.http.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Factorial</servlet-name>
    <servlet-class>ai.jobiak.http.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Factorial</servlet-name>
    <url-pattern>/factorial</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mathtable</servlet-name>
    <servlet-class>ai.jobiak.http.Mathtable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mathtable</servlet-name>
    <url-pattern>/mathtable</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>palindrom</servlet-name>
    <servlet-class>ai.jobiak.http.palindrom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>palindrom</servlet-name>
    <url-pattern>/palindrom</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>simpleintrest</servlet-name>
    <servlet-class>ai.jobiak.http.simpleintrest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>simpleintrest</servlet-name>
    <url-pattern>/simpleintrest</url-pattern>
  </servlet-mapping>
</web-app>